
@{
    ViewBag.Title = "WeatherCard";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<br />
<br />
<a class="weatherwidget-io" href="https://forecast7.com/en/52d2321d01/warsaw/" data-label_1="WARSAW" data-label_2="WEATHER" data-theme="original">WARSAW WEATHER</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
<br />
<a class="weatherwidget-io" href="https://forecast7.com/en/50d0619d94/krakow/" data-label_1="KRAKÓW" data-label_2="WEATHER" data-theme="original">KRAKÓW WEATHER</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
<br />
<a class="weatherwidget-io" href="https://forecast7.com/en/51d1117d04/wroclaw/" data-label_1="WROCŁAW" data-label_2="WEATHER" data-theme="original">WROCŁAW WEATHER</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
<br />
<a class="weatherwidget-io" href="https://forecast7.com/en/54d3518d65/gdansk/" data-label_1="GDAŃSK" data-label_2="WEATHER" data-theme="original">GDAŃSK WEATHER</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
<br />
<a class="weatherwidget-io" href="https://forecast7.com/en/52d4116d93/poznan/" data-label_1="POZNAŃ" data-label_2="WEATHER" data-theme="original">POZNAŃ WEATHER</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>
<br />
<a class="weatherwidget-io" href="https://forecast7.com/en/50d2619d02/katowice/" data-label_1="KATOWICE" data-label_2="WEATHER" data-theme="original">KATOWICE WEATHER</a>
<script>
    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
</script>

