@model LibraryManagementSystems.Models.Entity.Annotations
@{
    ViewBag.Title = "AddAnnotation";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<form class="form-group" method="post">
    <br />
    <div style="margin-top:15px">
        <label>Annotation Category</label>
        @Html.TextBoxFor(x => x.Categories, new { @class = "form-control" })
    </div>
    <br />
    <div style="margin-top:15px">
        <label>Annotation Content</label>
        @Html.TextBoxFor(x => x.Contents, new { @class = "form-control" })
    </div>
    <br />
    <div style="margin-top:15px">
        <label>Annotation Date</label>
        <input type="text" class="form-control" name="Date" value="@DateTime.Now.ToShortDateString()" />
    </div>
    <br />
    <button class="btn btn-info">Add Annotation</button>
</form>

