@model LibraryManagementSystems.Models.Entity.Categories
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form class="form-group" method="post">
    <br />
    <br />
    <label>Add New Categori</label> <br />
    <input class="form-control" type="text" name="CategoryName" /> <br /> <br />
    <button class="btn btn-info">Add</button>
</form>