@using LibraryManagementSystems.Models.Entity
@model List<Employees>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>EMPLOYEES</h2>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Employees</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>

    @foreach (var c in Model)
    {
        <tr>
            <td>@c.Id</td>
            <td>@c.EmployeeFullName</td>
            <td><a href="/Employees/DeleteEmployee/@c.Id/" class="btn btn-danger">Delete</a></td>
            <td><a href="/Employees/UpdateEmployee/@c.Id/" class="btn btn-success">Update</a></td>
        </tr>
    }
</table>
<a href="/Employees/AddEmployee/" class="btn btn-primary">ADD NEW EMPLOYEE</a>

